#MainAdministerAllInvitationsPageDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #e7ceb5;
    top: 0;
    left: 0;
}

#InvitationsPageTitle{
    position: relative;
    width: 500px;
    left: calc(50% - 250px + 50px);
    text-align: center;
    color: #7e3c2d;
    top: calc(50% - 300px - 50px - 10px);
}