#MainLoginCredsComponentDiv{
    position: relative;
    height: 350px;
    width: 300px;
    background: #7e3c2d;
    left: calc(50% - 150px);
    top: calc(50% - 175px);
    border-radius: 25px;
}

#TitleLabel{
    position: relative;
    font-size: 30px;
    top: 30px;
    color: #e7ceb5;
}

#UsernameDiv{
    position: relative;
    top: calc(50px);
    margin-top: 30px;
}

#UsernameIcon{
    margin-right: 10px;
    font-size: 20px;
    color: #e7ceb5;
}

#UsernameInput{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #e7ceb5;
    padding-left: 5px;
    color: #e7ceb5;
    padding-bottom: 5px;
}

#UsernameInput:focus{
    outline: none;
}

#UsernameInput::placeholder{
    color: #e7ceb5;
}

#PasswordDiv{
    position: relative;
    top: calc(50px);
    margin-top: 40px;
}

#LockIcon{
    margin-right: 10px;
    font-size: 20px;
    color: #e7ceb5;
}

#PasswordInput{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #e7ceb5;
    color: #e7ceb5;
    padding-bottom: 5px;
    padding-left: 5px;
}

#PasswordInput:focus{
    outline: none;
}

#PasswordInput::placeholder{
    color: #e7ceb5;
}

#LoginButton{
    position: relative;
    top: calc(50px);
    margin-top: 50px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 0px;
    background: #e7ceb5;
}

#LoginKeyIcon{
    font-size: 30px;
    color: #7e3c2d;
}

#InvalidCredsDiv{
    top: -40px;
    position: relative;
    width: 70%;
    color: #fedb00;
 }